/* Stili generali */
body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    text-align: center;
    position: relative;
    z-index: 1;
}

/* Immagine header */
.header-image {
    width: 100%;
    height: auto;
    max-width: 35%; /* Limita la larghezza massima */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    opacity: 1;
}

/* Lista */
ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Link */
a {
    color: #81d4fa;
    text-decoration: none;
    font-size: 1em;
}

/* Linea orizzontale */
.horizontal-line {
    width: 75%;
    height: 2px;
    background: #FFFFFF;
    margin: 40px auto;
}

/* Tab */
.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.tab {
    display: block;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 150px; /* Limita la larghezza massima */
}

.tab img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.tab:hover img {
    transform: scale(1.1);
}

/* Media Query per schermi più piccoli */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .header-image {
        max-width: 100%;
    }

    .horizontal-line {
        width: 90%;
    }

    .tabs {
        flex-direction: column;
    }

    .tab {
        max-width: 100%;
        margin-bottom: 10px;
    }
}
